<html>
    <head>
        <title>
            le75
        </title>
        <style>
        
            body {
                display: -webkit-flex;
                -webkit-flex-direction: row;
                -webkit-flex-wrap: wrap;
                display: flex;
                flex-dirextion: row;
            }
        
            body > article {
                max-width: 400px;
                max-height: 400px;
                border: 3px solid blue;
                overflow-y: auto;
            }
            
            img {
                max-width: 100%;
                max-height: 100%;
            }
        </style>
    </head>
    <body>
        {% autoescape false %}
        {% for snippet in snippets %}
            <article>
                {% for p in snippet.paragraphs %}
                    {{ p }}
                {% endfor %}
                <a href="{{ snippet.url }}">source</a>
            </article>
        {% endfor %}
        {% endautoescape %}
    </body>
</html>