<html>
    <head>
        <title>
            le75
        </title>
        <style>
            body > article {
                max-width: 400px;
                max-height: 400px;
                overflow-y: auto;
                border: 3px solid blue;
            }
        </style>
    </head>
    <body>
        {% autoescape false %}
        {% for snippet in snippets %}
            <article>
                {{ snippet.html }}
            </article>
        {% endfor %}
        {% endautoescape %}
    </body>
</html>