<html>
    <head>
        <title>
            le75
        </title>
        <style>
        
            body {
                display: -webkit-flex;
                -webkit-flex-direction: row;
                -webkit-flex-wrap: wrap;
                display: flex;
                flex-dirextion: row;
            }
        
            body > article {
                max-width: 400px;
                max-height: 400px;
                border: 3px solid blue;
                overflow-y: auto;
            }
            
            img {
                max-width: 100%;
                max-height: 100%;
            }
        </style>
    </head>
    <body>
        {% for snippet in snippets %}
            <article>
                <p>
                    <a href="{{ snippet.url }}">
                        {{ snippet.text }}
                    </a>
                </p>
            </article>
        {% endfor %}
    </body>
</html>