<html>
    <head>
        <title>
            le75
        </title>
        <style>
        
            body {
                display: -webkit-flex;
                -webkit-flex-direction: row;
                -webkit-flex-wrap: wrap;
                display: flex;
                flex-dirextion: row;
            }
        
            body > article {
                max-width: 400px;
                max-height: 400px;
                border: 3px solid blue;
                overflow-y: auto;
                padding: 15px;
                background-size: cover;
                background-position: center;
                text-decoration: none;
                text-shadow: 0px 0px 2px black;
                font-family: sans-serif;
                font-size: 125%;
                line-height: 1.25;
            }
            
            a {
                color: white;
                text-decoration: none;
            }
            
            img {
                max-width: 100%;
                max-height: 100%;
            }
        </style>
    </head>
    <body>
        {% autoescape false %}
        {% for snippet in snippets %}
            <article style="background-image: url({{ snippet.images[0] }})">
                <p>
                    <a href="{{ snippet.url }}">
                        {{ snippet.text }}
                    </a>
                </p>
            </article>
        {% endfor %}
        {% endautoescape %}
    </body>
</html>