{% load cms_tags sekizai_tags static %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'cmsplugin_carousel/css/jcarousel.css' %}">{% endaddtoblock %}
{% addtoblock "js" %}
<script src="{% static 'cmsplugin_carousel/js/jquery.jcarousel.js' %}"></script>
<script>
$(function() {
    $('.jcarousel')
    .jcarousel({wrap: 'circular'})
    .filter('[data-autoscroll]')
    .jcarouselAutoscroll({
        interval: 3000,
        target: '+=1',
        autostart: true
    });

    $('.jcarousel-control-prev').jcarouselControl({
        target: '-=1',
    });

    $('.jcarousel-control-next').jcarouselControl({
        target: '+=1',
    });
});
</script>
{% endaddtoblock %}


<aside class="jcarousel">
    <div class="jcarousel-inner">
    {% for plugin in instance.child_plugin_instances %}
        <div class="jcarousel-item">
        {% render_plugin plugin %}
        </div>
    {% endfor %}
    </div>

    <nav class="jcarousel-controls">
        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
    </nav>
</aside>
