<!doctype html>
{% load cms_tags menu_tags sekizai_tags scraper_tags %}
<html  lang="fr-be">
    <head>
        <title>ESA le75, {% block title %}{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{{ STATIC_URL }}lib/reset.css">
        {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css">
        {% endaddtoblock %}
        {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
    </head>

    {% page_attribute "slug" as slug %}

    <body class='body body--{{ slug }} {% if current_page.is_home %}body--home{% endif%} no-touch'>
        {% cms_toolbar %}
        <div class="main-wrapper">
            {# Hides the content on the home page #}
            {% if not current_page.is_home %}
            <div class="btn-toggle"></div>
            {% endif %}

            <section class="feeds" id="feeds">
                {% feed %}

                <div class="logo50">
                    <a href="http://abecedaire.le75.be/">
                        <img class="logo50__img" src="{{ STATIC_URL }}img/logo50.svg" alt=""/>
                    </a>
                </div>
            </section>

            <section class="main main--{% if current_page.is_home %}home{% else %}no-home{%endif%}" id="main">
                <header class="main__header">
                    <div class="main__header__logo__lang">
                        <h1 class="main__logo"><a href="/">Le Septantecinq</a></h1>

                        <ul class="main__lang">
                            <li><a href="/english/">en</a></li>
                            <li><a href="/nederlands/">nl</a></li>
                        </ul>
                    </div>
                    <div class="responsive-hamburger"></div>
                    <nav class="main__nav" id="menu">
                        <ul>{% show_menu 0 100 100 100 %}</ul>
                    </nav>
                </header>
                <div class="main__header-spacer"></div>
                {# Hides the content on the home page #}
                {% if not current_page.is_home %}
                <main class="main__content" id="content">
                    {% block content %}{% endblock content %}
                </main>
                {% endif %}
            </section>
        </div>

        <script src="{{ STATIC_URL }}lib/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/le75.js"></script>

        <script>

        jQuery(function($){

            // Touch Device Detection
            var isTouchDevice = 'ontouchstart' in document.documentElement;
            if( isTouchDevice ) {
                $('body').removeClass('no-touch');
                $('body').addClass('touch');
            }

        });
        </script>
        {% render_block "js" %}

        {% if not debug %}
        {% include "partials/piwik.html" %}
        {% endif %}
    </body>
</html>
