{% load menu_tags i18n %}

<div id="languages">
{% for language in languages %}
<span class="lang {% if current_language == language.0 %} active{% endif %}">
	<a href="{% page_language_url language.0 %}" title="{% trans "Change to language:" %} {{ language.1 }}">{{ language.1 }}</a>
</span>
{% endfor %}
</div>
