{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <article>
        <header class="main__content__header">
            <h1>{% page_attribute "page_title" %}</h1>
        </header>

        {% placeholder "content" %}
    </article>
{% endblock content %}
