{% extends "base.html" %}


{% load cms_tags %}


{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block content %}
<article class="news-item-detail">
    <header class="main__content__header">
        <h1><a href="{{ object.get_absolute_url }}">{% render_model object "title" %}</a></h1>
    </header>

    {% if object.image %}
    <p><img src="{{ object.image.url }}"></p>
    {% endif %}

    {{ object.content|safe }}

    {% if object.link %}
    <p><a href="{{ object.link }}" target="_blank">{{ object.link }}</a></p>
    {% endif %}

    {% if object.attachment %}
    <p><a class="attachment" href="{{ object.attachment.url }}">{{ object.attachment }}</a></p>
    {% endif %}
</article>
{% endblock content %}

