{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <header class="main__content__header">
        <h1>{% page_attribute "page_title" %}</h1>
    </header>

    {% for object in object_list %}
        <article class="news-item">
            <header class="news-item__header">
                <h1><a href="{{ object.get_absolute_url }}">{% render_model object "title" %}</a></h1>
                {% if object.image %}
                <p><img src="{{ object.image.url }}"></p>
                {% endif %}
                <p>{{ object.content|safe }}</p>
                <p><a href="{{ object.link }}" target="_blank">{{ object.link }}</a></p>
                {% if object.attachment %}
                <p><a class="attachment" href="{{ object.attachment.url }}">{{ object.attachment }}</a></p>
                {% endif %}
            </header>
        </article>
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">←</a>
                {% endif %}
                <span class="page-current">
                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">→</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}
