{% extends "base.html" %}


{% load cms_tags %}


{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block content %}
<article class="news-item-detail">
    <header class="main__content__header">
        <p><time>
            {{ object.start_date|date:"d/m/Y" }}
            {% if not object.end_date == object.start_date %}
                → {{ object.end_date|date:"d/m/Y" }}
            {% endif %}
        </time></p>
        {% if object.location %}<p>{{ object.location }}</p>{% endif %}

        <h1>{% render_model object "title" %}</h1>

        {% if object.subtitle %}
            <p>{{ object.subtitle }}</p>
        {% endif %}

        <p class="oneliner">{{ object.oneliner }}</p>

        <p><time class="date-info">{{ object.date_info }}</time></p>

    </header>

    <p><img src="{{ object.image.url }}"></p>

    {{ object.content|safe }}

    {% if object.attachment %}
        <p><a class="attachment" href="{{ object.attachment.url }}">{{ object.attachment }}</a></p>
    {% endif %}
</article>
{% endblock content %}

