{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <header class="main__content__header">
        <h1>{% page_attribute "page_title" %}</h1>
    </header>

    {% for object in object_list %}
        <article class="news-item">
            <header class="news-item__header">
                <p><time>
                    {{ object.start_date|date:"d/m/Y" }}
                    {% if not object.end_date == object.start_date %}
                        → {{ object.end_date|date:"d/m/Y" }}
                    {% endif %}
                </time></p>
                {% if object.location %}<p>{{ object.location }}</p>{% endif %}
                <h1><a href="{{ object.get_absolute_url }}">{% render_model object "title" %}</a></h1>
                {% if object.subtitle %}<p class="subtitle">{{ object.subtitle }}</p>{% endif %}
                <p class="oneliner">{{ object.oneliner }}</p>
            </header>
        </article>
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">←</a>
                {% endif %}
                <span class="page-current">
                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">→</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}
