.jcarousel {
    outline: 4px solid crimson;
    background-color: seagreen;
    position: relative;
    overflow: hidden;
    height: 400px;
}

.jcarousel-inner {
    width: 10000%;
    height: 100%;
    position: relative;
}

.jcarousel-item {
    width: 1%;
    height: 100%;
    float: left;
}
.jcarousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*   .jcarousel-item figcaption { */
/*     font-size: .75em; */
/* } */
.jcarousel-controls {
    background-color: yellow;
    position: absolute;
    top: 50%;
    width: 100%;
}
.jcarousel-control-prev,
.jcarousel-control-next {
    display: block;
    position: absolute;
    top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2d3a65;
    color: white;
    text-decoration: none;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    font-weight: bold;
}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    background-color: aliceblue;
    color: black;
}
.jcarousel-control-prev {
    left: 10px;
}
.jcarousel-control-next {
    right: 10px;
}
.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}
/*   .nojcarousel-item { */
/*     opacity: 0.5; */
/*   border-bottom: 1px dotted red; */
/*   } */
/*   .nojcarousel-item.active { */
/*     opacity: 1; */
/* } */
/* .jcarousel-inner a { */
/*   border: none !important; */
/*   } */
