{% load thumbnail %}

<div class="feeds__filters">
    {% for row in orientations %}
        <div class="feeds__filter {{ row.orientation.name }}">
            <input type="checkbox" id="feed__filter__{{ row.orientation.name }}" value="{{ row.orientation.name }}" {% if row.visible %}checked="checked"{% endif %} />
            <label for="feed__filter__{{ row.orientation.name }}">{{ row.orientation.name }}</label>
        </div>
    {% endfor %}

    <div class="feeds__filter news">
        <input type="checkbox" id="feed__filter__news" value="news" {% if news.visible %}checked="checked"{% endif %} /><label for="feed__filter__news">Actualités</label>
    </div>
</div>    

{% for feed in feed_list  %}
<div class="feeds__feed feeds__feed--satellite feeds__feed--hidden" {% if not feed.visible %}style="visibility: hidden"{% endif %} data-feed-type="{{ feed.feed.orientation.name }}">
    {% for obj in feed.objects %}

    {% if obj.main_image_original %}
        {% with obj.feed.orientation.name as o11n %}
            {% thumbnail obj.main_image_original 200x400 as original_img %}
            

            {% if o11n == "Peinture" %}
                {% thumbnail obj.main_image_original 200x400 effect="dither2" as processed_img %}
            {% elif o11n == "Images plurielles imprimées" %}
                {% thumbnail obj.main_image_original 200x400 effect="dither1" as processed_img %}
            {% elif o11n == "Photographie" %}
                {% thumbnail obj.main_image_original 200x400 effect="traces" as processed_img %}
            {% elif o11n == "Graphisme" %}
                {% thumbnail obj.main_image_original 200x400 effect="dither3" as processed_img %}
            {% endif %}

            <article class="feeds__entry" data-style="background-image: url('{{ processed_img.url }}')">
                <a target="_blank" href="{{ obj.permalink }}">
                    <h1>{{ obj.title }}</h1>
                    <img data-src="{{ original_img.url }}">
                </a>
            </article>
        {% endwith %}
    {% endif %}

    {% endfor %}
</div>
{% endfor %}

<div class="feeds__feed feeds__feed--news feeds__feed--hidden" {% if not news.visible %}style="visibility: hidden"{% endif %} data-feed-type="news">
    {% for news in news.objects %}
    <article class="feeds__entry">
        <a href="{{ news.get_absolute_url  }}">
            <time>{{ news.display_period }}</time>
            <h1>{{ news.title }}</h1>
            {% if news.subtitle %}<h2>{{ news.subtitle }}</h2>{% endif %}
            <p>{{ news.oneliner  }}</p>
            {% if news.image %}
                <img src="{% thumbnail news.image 200x400 %}">
            {% endif %}
        </a>
    </article>
    {% endfor %}
</div>
