div {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0,
}

img {
    display: block;
    margin-bottom: 100px;
}

div:nth-child(1) img:nth-child(2n+1) { transform: translateX(100px); }
div:nth-child(1) img:nth-child(3n+2) { transform: translateX(170px); }
div:nth-child(1) img:nth-child(5n+3) { transform: translateX(230px); }
div:nth-child(1) img:nth-child(7n+5) { transform: translateX(230px); }
div:nth-child(1) img:nth-child(11n+7) { transform: translateX(0px); }

div:nth-child(2) img:nth-child(2n+1) { transform: translateX(0px); }
div:nth-child(2) img:nth-child(3n+2) { transform: translateX(270px); }
div:nth-child(2) img:nth-child(5n+3) { transform: translateX(130px); }
div:nth-child(2) img:nth-child(7n+5) { transform: translateX(30px); }
div:nth-child(2) img:nth-child(11n+7) { transform: translateX(2000px); }

div:nth-child(3) img:nth-child(2n+1) { transform: translateX(230px); }
div:nth-child(3) img:nth-child(3n+2) { transform: translateX(30px); }
div:nth-child(3) img:nth-child(5n+3) { transform: translateX(100px); }
div:nth-child(3) img:nth-child(7n+5) { transform: translateX(160px); }
div:nth-child(3) img:nth-child(11n+7) { transform: translateX(80px); }
