{% extends "base.html" %}
{% load cms_tags custom_tags%}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<article>
    <header class="main__content__header">
        <h1>{% render_model object "name" %}</h1>
        <p class="subhead">{{ object.get_year_display }} &mdash; UE {% render_model object "ue" %} {% if object.common_name %}: {% render_model object "common_name" %}{% endif %}</p>
    </header>

    <dl class="course--metadata column--big">
        <dt>Audience</dt>
        <dd>BAC {{ object.audience }}</dd>


        <dt>Orientations</dt>
        {% for orientation in object.orientation.all %}
            <dd>{{ orientation }}</dd>
        {% endfor %}
        
        <dt class="separator">Type de cours</dt>
        {% for course_type in object.course_type.all %}
            <dd>{{ course_type }}</dd>
        {% endfor %}

        <dt>Catégories</dt>
        {% for category in object.category.all %}
            <dd>{{ category }}</dd>
        {% endfor %}

        <dt class="separator">Semestre</dt>
        <dd>{{ object.get_semester_display }}</dd>
        
        <dt>Heures</dt>
        <dd>{{ object.hours }} heures</dd>
        
        <dt>Crédits</dt>
        <dd>{{ object.ects }} ECTS</dd>
        
        <dt class="separator">Requis?</dt>
        <dd>{{ object.course_set.all.first.is_mandatory|yesno:"Cours obligatoire, Cours à option" }}</dd>
        
        <dt>Langue</dt>
        <dd>en {{ object.get_language_display|default:"français" }}</dd>
        
        <dt class="teacher-list">par</dt>
            {% for teacher in object.teacher_list|dictsort:"lastname" %}
                <dd class="teacher-list-item"><a href="{{ teacher.get_absolute_url }}">{{ teacher.firstname }} {{ teacher.lastname }}</a></dd>
            {% endfor %}
        </dd>
    </dl>

    {% for course in object.course_set.all %}
    <div class="course--description column column--big">
        {% if course.co_required %}
            <div class="course--description--section">
                <h2 class="heading-2">Co-requis</h2>
                {{ course.co_required|safe }}
            </div>
        {% endif %}
        
        {% if course.pre_required %}
            <div class="course--description--section">
                <h2 class="heading-2">Pré-requis</h2>
                {{ course.pre_required|safe }}
            </div>
        {% endif %}
        
        {% if course.goals %}
            <div class="course--description--section">
                <h2 class="heading-2">Objectifs</h2>
                {{ course.goals|safe }}
            </div>
        {% endif %}
        
        {% if course.outcomes %}
            <div class="course--description--section">
                <h2 class="heading-2">Acquis d’apprentissage</h2>
                {{ course.outcomes|safe }}
            </div>
        {% endif %}
        
        {% if course.methodology %}
            <div class="course--description--section">
                <h2 class="heading-2">Méthode</h2>
                {{ course.methodology|safe }}
            </div>
        {% endif %}

        {% if course.content %}
            <div class="course--description--section">
                <h2 class="heading-2">Contenu</h2>
                {{ course.content|safe }}
            </div>
        {% endif %}
        
        {% if course.evaluation_mode %}
            <div class="course--description--section">
                <h2 class="heading-2">Mode d’évaluation</h2>
                {{ course.evaluation_mode|safe }}
            </div>
        {% endif %}
        
        {% if course.evaluation_criterias %}
            <div class="course--description--section">
                <h2 class="heading-2">Critères d’évaluation</h2>
                {{ course.evaluation_criterias|safe }}
            </div>
        {% endif %}

        {% if course.references %}
            <div class="course--description--section">
                <h2 class="heading-2">Sources et références indicatives</h2>
                {{ course.references|safe }}
            </div>
        {% endif %}
    </div>
    {% endfor %}
</article>
{% endblock content %}

