{% extends "base.html" %}


{% load cms_tags custom_tags thumbnail %}


{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block content %}
<article>
    <header class="main__content__header">
        <h1>{% render_model object "firstname" %} {% render_model object "lastname" %}</h1>
        <p class="subhead">{% render_model object "role" %}</p>
    </header>

    {% if object.department.name or object.email or object.phonenumber or object.website %}
    <dl class="course--metadata column--small">
        {% if object.department.name %}
        <dt>Département</dt>
        <dd>{{ object.department.name }}</dd>
        {% endif %}

        {% if object.email %}
        <dt>Email</dt>
        <dd>{{ object.email|html_encode_email|safe }}</dd>
        {% endif %}

        {% if object.phonenumber and object.phonenumber != "0"%}
        <dt>Téléphone</dt>
        <dd>{{ object.phonenumber }}</dd>
        {% endif %}

        {% if object.website %}
        <dt>Site internet</dt>
        <dd><a href="{{ object.website }}">{{ object.website }}</a></dd>
        {% endif %}
    </dl>
    {% endif %}

    <p>{{ object.responsibilities }}</p>
    
    <p>
        {% thumbnail object.image 105x105 as portrait %}
        {% if portrait %}<img class="portrait" src="{{ portrait.url }}" />{% endif %}
        {{ object.bio|safe|default:"Aucune bio" }}
    </p>

    {% if object.course_set.all %}
    <h2 class="heading-2">Cours</h2>
    {% regroup object.course_set.all|dictsort:"teaching_unit.name"|dictsort:"teaching_unit.audience" by teaching_unit.audience as audience_list %}

    <ul class="zigzag column column--small">
        {% for audience in audience_list %}
        <li class="audience-list">BAC {{ audience.grouper }}
            <ul class="course-list">
                {% for course in audience.list %}
                <li><a href="{{ course.get_absolute_url }}">{{ course }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
</article>
{% endblock content %}
