<h2 class="heading-2">Enseignants</h2>

<ul class="column column--small teachers--list">
    {% for teacher in instance.orientation.get_teachers|dictsort:"lastname" %}
    <li><a href="{{ teacher.get_absolute_url }}">{{ teacher.firstname }} {{ teacher.lastname }}</a></li>
    {% endfor %}
</ul>

<div class="course-section">
    <h2 class="heading-2">Fiches de cours</h2>

    {% regroup instance.orientation.teachingunit_set.all|dictsort:"name"|dictsort:"audience" by audience as audience_list %}

    <ul class="zigzag column column--small">
        {% for audience in audience_list %}
        <li class="audience-list">BAC {{ audience.grouper }}
            <ul class="course-list">
                {% for course in audience.list %}
                {% if course.is_published %}
                    <li><a href="{{ course.get_absolute_url }}">{{ course }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</div>

