<h2 class="heading-2">Équipe enseignante</h2>

<div class="column column--big">
{% for k,v in orientations.items %}
    <div class="orientation">
        <h3 class="heading-3">{{ k }}</h3>

        <ul class="teachers--list">
        {% for teacher in v|dictsort:"lastname" %}
            <li><a href="{{ teacher.get_absolute_url }}">{{ teacher.firstname }} {{ teacher.lastname }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>
