html, body {
    height: 100%;
    font-family: tsukurimashou;
}

/* MAIN */
section#main {
    position: absolute;
    width: 75%;
    margin: 12.5%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.2em;
    box-sizing: border-box;
}
img#logo {
    width: 200px;
}
nav > ul > li {
    float: left;
    margin-right: 1.2em;
}



/* SATELLITES */
section.satellites {
    z-index: -1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 10px;
    line-height: 1.2em;
    color: red;
    display: flex;
    flex-flow: wrap row;
    flex-basis: 200px;
}
a {

}
.le75 {
    /*float: left;*/
    padding: 1.2em;
    box-sizing: border-box;
    height: 50%;
    overflow: scroll;
    flex-basis: 25%;
    flex-grow: 1;
}

section.satellites img {
    max-width: 100%;
    height: auto;
    -webkit-filter: contrast(5);
}
form {
    display: none;
}
